.menu {
  position: fixed;
  top: 1vw;
  left: 1vw;
  width: 48px;
  height: 48px;
  z-index: 10001;
  background: #2a2a2a1a;
  border-radius: 30%;
  border: none;
  outline: none;

  svg {
    fill: var(--colors-black-100);
    filter: drop-shadow(0 0 10px #2a2a2a);
  }
}
