.menu {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  z-index: 10001;
  background: #0a0909da;
  border-radius: 50%;
  border: none;

  svg {
    fill: var(--colors-black-100);
  }
}
