.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--colors-black-900);
}
