@font-face {
  font-family: "Cardo";
  src: url(Cardo-Regular.ttf) format("truetype");
}

:root {
  font-family: "Cardo", serif;
  line-height: 1.5;
  font-weight: 400;

  --colors-black-100: #fafafa;
  --colors-black-500: #242424;
  color-scheme: light dark;
  color: var(--colors-black-100);
  background-color: var(--colors-black-500);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  /* cursor: url(cursor.png), default; */
}

body {
  margin: 0;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

canvas {
  cursor: url(combat_cursor.png) 16 16, default;
}

@media (prefers-color-scheme: light) {
  :root {
    --colors-black-100: #242424;
    --colors-black-500: #fafafa;
  }
}
